<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGYPpCpy0XbKuLQzqxiuYvnGa-S6xh2aU</string>
	<key>GCM_SENDER_ID</key>
	<string>694169589686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ancientstack.-whereiscasino</string>
	<key>PROJECT_ID</key>
	<string>parse-casino-public</string>
	<key>STORAGE_BUCKET</key>
	<string>parse-casino-public.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:694169589686:ios:3f0bf3b492e5818c855317</string>
	<key>DATABASE_URL</key>
	<string>https://parse-casino-public-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
